<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<form action="http://127.0.0.1:5000/create" method="post">
	<input type="hidden" name="name" value="humble-bundle">
	<input type="number" name="zipcode" placeholder="zipcode">
	<div class="order-form-header">
		<p>Purchase<strong> the Humble Staff Picks Bundle: Hamble</strong>
		</p>
	</div>
	<div><label class="order-form-amount-selection-label">Pay What You Want!</label>
	<input type="number" name="cost" placeholder="">
</div>
<input value="Pay with Neer" type="submit">
<br>
<button name= type="button" class="order-form-paypal-payment-button js-payment-button" data-processor="PayPal">
Check out with <img alt="Paypal" src="https://humblebundle-a.akamaihd.net/static/hashed/482b7908ee21571518d636bbefc08f0340c55d1e.svg">
</button>
</form>